@model com.iris.Global.Entity.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statusflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statusflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
