@model com.iris.Global.Entity.Address

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Address</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Line1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Line1)
                @Html.ValidationMessageFor(model => model.Line1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Line2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Line2)
                @Html.ValidationMessageFor(model => model.Line2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Landmark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Landmark)
                @Html.ValidationMessageFor(model => model.Landmark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostCode)
                @Html.ValidationMessageFor(model => model.PostCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, "CityId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityId", String.Empty)
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateAdded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAdded)
                @Html.ValidationMessageFor(model => model.DateAdded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdated)
                @Html.ValidationMessageFor(model => model.LastUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Statusflag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Statusflag)
                @Html.ValidationMessageFor(model => model.Statusflag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slug, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slug)
                @Html.ValidationMessageFor(model => model.Slug)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
